.vscode/

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

additional_data/clean_data/
train_test_data/
train_transformers/data/
train_transformers/transformers/